*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    font-weight: 100vh;
    display: flex;
    background-color: #FF7979;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}

.content-container{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    width: 100%;
}

.content-container h1{
    width: 60%;
    font-size: 2em;
}

.content-container p{
    font-size: medium;
    width: 50%;
}


.tbtn-form{
    display: flex;
    flex-direction: column;
}

.trial-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    padding: 3em;
    border-radius: 1em;
}

input{
    padding: 1.2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

button{
    padding: 1.2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
}

.right-container{
    width: fit-content;
    
}