*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    font-weight: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0;
    row-gap: 0;
    background-color: #FF7979;
    padding: 0 2em;
}

.content-container{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    width: fit-content;
}

.content-container h1{
    width: 80%;
    font-size: 2em;
}

.content-container p{
    font-size: medium;
    width: 70%;
}


.tbtn-form{
    display: flex;
    flex-direction: column;
}

.trial-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: #FFFFFF;
    padding: 3em;
    border-radius: 1em;
   
}

input{
    padding: 1.2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

button{
    padding: 1.2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
}
